#features {
  width: 100dvw;
  min-height: 100dvh;
  background-color: #67bff7;

  .feat {
    width: 100%;
    position: relative;
  }

  .feat--01 {
    background-color: blue;
    height: 100dvh;
    border: 1px solid red;
  }
  .feat--02 {
    min-height: 80dvh;
  }
  .feat--03 {
    min-height: 80dvh;
  }
  .feat--04 {
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }
}

.galleryImages {
  display: flex;
  height: 60%;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  z-index: 1;
  .gallery {
    display: flex;
    position: relative;
    height: 27%;
    gap: 3vw;
    width: 120dvw;

    left: -10dvw;
    .project {
      width: 15%;
      height: 18dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      .imageContainer {
        position: relative;
        width: 80%;
        height: 80%;

        img {
          object-fit: cover;
        }
      }
    }
  }
}
