#achievements {
  padding-top: 30px;
  width: 100dvw;
  min-height: 100dvh;
  background-color: #67bff7;
}

.achievement__container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 24px 24px;
  grid-auto-flow: row;
  grid-template-areas:
    "i1 i1 i1 i2 i2 i2"
    "i1 i1 i1 i3 i3 i3"
    "i4 i4 i5 i5 i5 i5"
    "i4 i4 i5 i5 i5 i5";
  min-width: 60%;
  height: auto;
  padding: 4vmin 6vmin;
  position: relative;
}

.item {
  border-radius: 20px;
  position: relative;
  padding: 4vmin 6;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: calc(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(100%);
    box-shadow: 5px 10px 10px 0 rgba(70, 70, 70, 0.1);
  }
}

.i1 {
  grid-area: i1;
  background-color: #1cc3d9;
  filter: brightness(85%);
}

.i2 {
  grid-area: i2;
  background-color: #1cc3d9;
  filter: brightness(85%);
}

.i3 {
  grid-area: i3;
  background-color: #0295f2;
  filter: brightness(85%);
}

.i4 {
  grid-area: i4;
  background-color: #0295f2;
  filter: brightness(85%);
}

.i5 {
  grid-area: i5;
  background-color: #1cc3d9;
  filter: brightness(85%);
}

// .achievement__container * {
//   border-radius: 30px;
//   position: relative;
// }

// .achievement__container *:after {
//   // content: attr(class);
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: grid;
//   align-items: center;
//   justify-content: center;
// }
